@import "./bootstrap/bootstrap"
@import "./bootstrap/bootswatch"

$tag-base-color: #f3f3f3
$title-base-color: #fafafa

#memo,
#memo-index,
#memo-editor,
#memo-viewer,
#memo-controller
  position: absolute

#memo-index
  border: 1px solid $gray-lighter
  overflow: hidden
  direction: rtl
  overflow-y: scroll

#memo-index ul
  direction: ltr
  padding: 0
  margin: 0

#memo-index li
  list-style: none

#memo-index a
  display: block
  border-bottom: 1px solid $gray-lighter
  padding: 5px 10px

#memo-index li:last-child a
  border-bottom: 0

#memo-editor
  border: 1px solid $gray-lighter
  overflow: hidden

#memo-viewer
  overflow-y: scroll
  border: 1px solid $gray-lighter

#memo-viewer-content
  padding: 10px

#memo-index
  width: 200px

#memo-controller
  position: fixed
  bottom: 0
  width: 100%
  background: #fff
  height: 45px
  text-align: right
  z-index: 100
  .save
    @extend .btn, .btn-success
    margin-top: 5px
  .delete
    @extend .btn, .btn-danger
    position: absolute
    top: 5px
    right: 5px
    width: 35px
    padding-left: 0
    padding-right: 0
    .fa
      margin-right: 0
  .error-message
    @extend .text-danger
    display: inline
    line-height: 35px
    margin-top: 5px
    margin-right: 1em
    .fa
      margin-right: 0.5em

#memo-title
  position: fixed
  top: 0
  width: 100%
  background: #fff
  height: 45px

  .layout
    padding: 9px 0 5px 200px

button,
a
  .fa
    margin-right: 0.5em
  &.no-margin
    .fa
      margin-right: 0
